<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

    <!-- Enables the Spring MVC @Controller programming model -->
    <mvc:annotation-driven />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url"
                  value="jdbc:mysql://us-cdbr-iron-east-03.cleardb.net/ad_8ea98366d329913" />
        <property name="username" value="b1b5cf1b3448a1" />
        <property name="password" value="1ae03adc" />
    </bean>

    <!-- Hibernate 5 SessionFactory Bean definition -->
    <bean id="hibernate5AnnotatedSessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.mandiriecash.etollapi.models.User</value>
                <value>com.mandiriecash.etollapi.models.Toll</value>
                <value>com.mandiriecash.etollapi.models.Vehicle</value>
                <value>com.mandiriecash.etollapi.models.Staff</value>
                <value>com.mandiriecash.etollapi.models.Activity</value>
                <value>com.mandiriecash.etollapi.models.Price</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect
                </prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <context:component-scan base-package="com.mandiriecash.etollapi" />
    <bean id="userDAO" class="com.mandiriecash.etollapi.dao.UserDAOImpl"> </bean>
    <bean id="userService" class="com.mandiriecash.etollapi.services.UserServiceImpl"></bean>
    <bean id="tollDAO" class="com.mandiriecash.etollapi.dao.TollDAOImpl"> </bean>
    <bean id="tollService" class="com.mandiriecash.etollapi.services.TollServiceImpl"></bean>
    <bean id="staffDAO" class="com.mandiriecash.etollapi.dao.StaffDAOImpl"> </bean>
    <bean id="staffService" class="com.mandiriecash.etollapi.services.StaffServiceImpl"></bean>
    <bean id="vehicleDAO" class="com.mandiriecash.etollapi.dao.VehicleDAOImpl"> </bean>
    <bean id="vehicleService" class="com.mandiriecash.etollapi.services.VehicleServiceImpl"></bean>
    <bean id="activityDAO" class="com.mandiriecash.etollapi.dao.ActivityDAOImpl"> </bean>
    <bean id="activityService" class="com.mandiriecash.etollapi.services.ActivityServiceImpl"></bean>
    <bean id="priceDAO" class="com.mandiriecash.etollapi.dao.PriceDAOImpl"> </bean>
    <bean id="priceService" class="com.mandiriecash.etollapi.services.PriceServiceImpl"></bean>

    <bean id="mEAURLFactory" class="com.github.yafithekid.mandiri_ecash_api.MEAURLFactory"/>

    <bean id="gson" class="com.google.gson.Gson"/>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory" />
    </bean>
</beans>
